<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2022 Damien Dart, <damiendart@pobox.com>.
  This file is distributed under the MIT licence. For more information,
  please refer to the accompanying "LICENCE" file.
-->
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
  beStrictAboutChangesToGlobalState="true"
  beStrictAboutCoverageMetadata="true"
  bootstrap="vendor/autoload.php"
  colors="true"
  cacheDirectory=".phpunit.cache"
  failOnDeprecation="true"
  failOnWarning="true"
  requireCoverageMetadata="true"
>
  <testsuites>
    <testsuite name="Functional">
      <directory suffix="Test.php">./tests/Functional</directory>
    </testsuite>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
  </testsuites>
  <coverage/>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory suffix=".php">./src/Container/Definitions</directory>
    </exclude>
  </source>
</phpunit>
